[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "==2.24.0"
PyYAML = "==5.3.1"
deprecation = "== 2.1.0"

[dev-packages]
pytest = "==4.5.0"
mock = "==4.0.2"
tox = "==3.16.1"
requests-mock = "==1.8.0"
betamax = "==0.8.1"
betamax-serializers = "==0.2.1"
